@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300;400&family=Economica:wght@700&family=Inconsolata:wght@500&family=Lato:wght@300&family=Montagu+Slab:wght@600&family=Roboto:wght@300;400&family=Teko:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300;400&family=Economica:wght@700&family=Inconsolata:wght@500&family=Lato:wght@300&family=Montagu+Slab:wght@600&family=Roboto:wght@300;400&family=Teko:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300;400&family=Economica:wght@700&family=Inconsolata:wght@500&family=Lato:wght@300&family=Montagu+Slab:wght@600&family=Oxygen:wght@700&family=Roboto:wght@300;400&family=Teko:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300;400&family=Economica:wght@700&family=Inconsolata:wght@500&family=Lato:wght@300&family=Montagu+Slab:wght@600&family=Oxygen:wght@700&family=Roboto:wght@300;400&family=Teko:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300;400&family=Arimo&family=Economica:wght@700&family=Inconsolata:wght@500&family=Lato:wght@300&family=Montagu+Slab:wght@600&family=Oxygen:wght@700&family=Roboto:wght@300;400&family=Teko:wght@300&display=swap');
:root{
    scrollbar-color: rgb(49, 145, 255) rgb(46, 46, 46);
    --dark-blue-nonTransparent-color: rgb(0, 10, 49, 1);
    --dark-blue-color: rgb(0, 10, 49, 0.8);
    --light-blue-color: rgb(49, 197, 255);
    --header-color: rgb(0, 10, 49, 1);

  }

  ::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background: rgb(0, 10, 49, 1);
}

::-webkit-scrollbar-thumb {
    background: rgb(49, 131, 255);
    border-radius: 1ex;
    box-shadow: 0px 1px 2px rgba(49, 131, 255, 0.5);
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(49, 131, 255, 0.5);
}

::-webkit-scrollbar-corner {
    background: rgb(0, 10, 49, 1);
}

img {
    pointer-events: none;
    user-select: none;
}
body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    min-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
}

/*  TEST */
#loading-screen {
	position: absolute;
	z-index: 5;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000524;
	opacity: 1;
 	transition: 1s opacity;
}

#loading-screen.fade-out {
    opacity: 0;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #70d4db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #0b24b4;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #0084ff;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}



.header-container {
    position: fixed;
    width: 100vw;
    height: 6.5em;
    background-color: transparent;
    align-items: center;
    display: flex;
    z-index: 5;
    right: 15px;


}

.list {
    position: relative;
    color: white;
    list-style-type: none;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-between;

}
.logo {
    display: flex;
    font-size: 2em;
    color: white;
    font-family: 'Teko', sans-serif;
    margin-left: 8.25em;
    align-items: center;

}

#logo {
    font-family: sans-serif;
    cursor: pointer;
    position: relative;
    margin-right: 0.5em;
}

#logo:hover {
    filter: drop-shadow(0 0 10px rgb(0, 255, 255));
}

#ice {
    color: var(--light-blue-color);
    height: fit-content;
}

#chain {
    color: #1b6d8d;
    height: fit-content;
}

.linkContainer {
    position: relative;
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    margin-right: 18.25em;
}

li {
    position: relative;
    user-select: none;
}


.li {

    font-family: 'Alegreya Sans SC', sans-serif;

    font-family: 'Economica', sans-serif;

    font-family: 'Inconsolata', monospace;

    font-family: 'Lato', sans-serif;

    font-family: 'Montagu Slab', serif;

    font-family: 'Roboto', sans-serif;

    font-family: 'Teko', sans-serif;

    position: relative;
    text-decoration: none;
    color: white;
    font-size: 1.45em;
    padding: 5px 15px;
    transition: all 100ms ease-in;
    font-weight: 600;

}
/*
.active {
    color: var(--light-blue-color) !important;
    opacity: 1;

}

.active:after {
    content: '';
    position: absolute;
    border-bottom: 2px solid var(--light-blue-color);
    box-shadow: 0 2px 25px 2.5px var(--light-blue-color);
    top: 160%;
    left: 0;
    width: 100%;
    opacity: 1 !important;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
*/
.li:hover {
    color: rgb(49, 197, 255);
    text-shadow: 0px 0px 15px var(--light-blue-color);
}

.li:after {
    content: '';
    position: absolute;
    box-shadow: 0 2px 15px 1px var(--light-blue-color);
    top: 160%;
    left: 0;
    width: 100%;
    transition: 0.5s;
    opacity: 0;
}
.li:hover:after {
    content: '';
    position: absolute;
    box-shadow: 0 2px 15px 1px var(--light-blue-color);
    top: 160%;
    left: 0;
    width: 100%;
    opacity: 1;
}




section {
    position: relative;
    color:white;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: transparent;
    scroll-snap-align: center;
}

.container {
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;

}


        /*       HOME SECTION        */
.home {
 background-color: transparent;
 perspective: 1000;
}

.projects {
    height: 400vh;
    scroll-snap-align: none;
}

#videoContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000a31;
    z-index: 5;
    box-shadow: 0 0 100px 10px rgb(31, 127, 165);
    clip-path: circle(0%);
    display: flex;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
    left: 0;
}


#video {
    width: auto;
    height: auto;
    cursor: default;
    object-fit: contain;
}

.landingText {
    width: fit-content;
    height: auto;
    z-index: 3;
    position: relative;
    display: flex;
    right: 17.5%;
    top: -10%;
    align-self: center;
}


.homeLayer {
    width: 100%;
    height: 40%;
    z-index: 3;
    display: flex;
    align-self: center;
    position: absolute;
    top: 31.5%;
    left: 0;
    background-color: rgb(1, 1, 73);
    opacity: 0.275;
    box-shadow: 0 8px 12px 0 rgba( 31, 38, 135, 0.37 ),
                0 -8px 12px 0 rgba( 31, 38, 135, 0.37 );

}

#videoButton {
    position: absolute;
    padding: 5px 85px 0 0;
    height: fit-content;
    width: fit-content;
    display: flex;
    align-content: center;
    justify-content: center;
    cursor: pointer;
    left: 0;
    top: 22em;
    background-color: transparent;
    color: white;
    /*box-shadow: 0 0 0 100px var(--light-blue-color) inset,
                0 0 0 0 var(--light-blue-color);
                */
    transition: 0.1s;
    border: 2px solid white;
    border-radius: 2.5em;

}

#otherButton {
    position: absolute;
    padding:  7px 85px 0 0;
    height: fit-content;
    width: fit-content;
    display: flex;
    align-content: center;
    justify-content: center;
    cursor: pointer;
    top: 22em;
    left: 17.5em;
    background-color: transparent;
    color: white;
    box-shadow: 0 0 0 100px rgb(0, 91, 177) inset,
                0 0 0 0 var(--light-blue-color);

    transition: 0.1s;
    border: 2px solid white;
    border-radius: 2.5em;


}

#otherButton:hover {
    box-shadow: 0 0 100px 7.5px rgb(0, 91, 177) inset,
                0 0 100px 7.5px rgb(0, 91, 177);
}

#videoButton:hover {
    box-shadow: 0 0 100px 7.5px rgb(0, 91, 177) inset,
                0 0 100px 7.5px rgb(0, 91, 177);
}

#videoText {
    display: flex;
    position: relative;
    align-self: center;
    justify-self: center;
    width: 100%;
    left: 40%;

    font-family: 'Alegreya Sans SC', sans-serif;
    font-family: 'Economica', sans-serif;
    font-family: 'Inconsolata', monospace;
    font-family: 'Lato', sans-serif;
    font-family: 'Montagu Slab', serif;
    font-family: 'Oxygen', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Teko', sans-serif;

    text-transform: uppercase;
    font-size: 1.75em;
    line-height: 0.56em;

}

#otherText {
    display: flex;
    position: relative;
    align-self: center;
    justify-self: center;
    width: 100%;
    left: 45%;

    font-family: 'Alegreya Sans SC', sans-serif;
    font-family: 'Economica', sans-serif;
    font-family: 'Inconsolata', monospace;
    font-family: 'Lato', sans-serif;
    font-family: 'Montagu Slab', serif;
    font-family: 'Oxygen', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Teko', sans-serif;

    text-transform: uppercase;
    font-size: 1.75em;
    line-height: 0.4em;

}

#dataText {
    display: flex;
    position: relative;
    font-size: 5.25em;
    font-family: 'Alegreya Sans SC', sans-serif;

    font-family: 'Economica', sans-serif;

    font-family: 'Inconsolata', monospace;

    font-family: 'Lato', sans-serif;

    font-family: 'Montagu Slab', serif;

    font-family: 'Roboto', sans-serif;

    font-family: 'Teko', sans-serif;
    left: 0%;
    top: 0.5em;
    /*
    -webkit-text-stroke: 3px black;
    -webkit-text-fill-color: white;
    */
    user-select: none;
    text-shadow: 0 0 50px rgb(31, 127, 165);
}

#yoursText {
    display: flex;
    position: absolute;
    font-size: 2.25em;
    font-family: 'Alegreya Sans SC', sans-serif;

    font-family: 'Economica', sans-serif;

    font-family: 'Inconsolata', monospace;

    font-family: 'Lato', sans-serif;

    font-family: 'Montagu Slab', serif;

    font-family: 'Roboto', sans-serif;

    font-family: 'Teko', sans-serif;
    width: fit-content;
    height: fit-content;
    top: 72.5%;
    left: 0%;
    opacity: 0.8;
    white-space: nowrap;
    user-select: none;
    text-shadow: 0 0 50px rgb(31, 127, 165);

      /*
    -webkit-text-stroke: 3px black;
    -webkit-text-fill-color: white;
    */

}



h1 {
    color: white;
}

h2 {
    font-size: 1.5em;
    color: white;
}

/* ThreeJs */


#webgl {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}


            /* SECTIONS */




/* ECOSYSTEM */

#leftEco {
    position: absolute;
    display: flex;
    width: 15vw;
    height: 100vh;
    margin-top: 5%;
    left: 2%;
    background-color: transparent;
}

#rightEco {
    position: absolute;
    display: flex;
    width: 15vw;
    margin-top: 5%;
    height: 100vh;
    right: 2%;
    background-color: transparent;

}

.ecoContainers {
    position: relative;
    width: 100%;
    height: fit-content;
    align-self: center;
}
.ecoContainer {
    position: relative;
    width: 100%;
    height: 30%;
    background-color: rgb(0, 10, 49);
    cursor: pointer;
    transition: all 0.1s;
    align-items: center;
    justify-content: center;
    z-index: 2;
    border-radius: 20px;
}


.aboutText {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-family: 'Economica', sans-serif;
    font-family: 'Inconsolata', monospace;
    font-family: 'Lato', sans-serif;
    font-family: 'Montagu Slab', serif;
    font-family: 'Oxygen', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Teko', sans-serif;
    display: flex;
    user-select: none;
    font-size: 1.75em;
    transition: all 0.4s;
}
/* LOGO TOP LEFT FIRST */
#globeLogo {
    margin-left: 1.5em;
    filter: drop-shadow(0 0 15px rgb(49, 197, 255, 1));
}

#ecoContainer1:hover #globePath1 {
    fill: rgb(34, 202, 214);
}
#ecoContainer1:hover #globePath2 {
    fill: white;
}

#globePath1 {
    fill: rgba(34, 202, 214, 0.541);
    transition: all 0.6s;
}

#globePath2 {
    fill: rgb(172, 172, 172);
    transition: all 0.6s;
}

#globePath3 {
    fill: rgb(172, 172, 172);
    transition: all 0.6s;
}

#globePath4 {
    fill: rgb(172, 172, 172);
    transition: all 0.6s;
}

#globePath5 {
    fill: rgb(172, 172, 172);
    transition: all 0.6s;
}

#globePath6 {
    fill: rgb(172, 172, 172);
    transition: all 0.6s;
}

/* LOGO TOP LEFT SECOND */

#exchangeLogo {
     margin-left: 1.5em;
     filter: drop-shadow(0 0 10px rgb(49, 197, 255, 1));
     transition: all 0.6s;
}
#ecoContainer2:hover #exchangeLogo {
    filter: drop-shadow(0 0 20px rgb(49, 197, 255, 1));
}
#ecoContainer2:hover #exchangePath3, #exchangePath4 {
    fill: rgb(36, 136, 255);
}

#ecoContainer2:hover #exchangePath5, #exchangePath6 {
    fill: rgb(0, 94, 206);
}
#exchangePath3 {
    fill: rgb(0, 94, 206);
    transition: all 0.6s;
}
#exchangePath4 {
    fill: rgb(0, 94, 206);
    transition: all 0.6s;
}
#exchangePath5 {
    fill: rgb(36, 136, 255);
    transition: all 0.6s;
}
#exchangePath6 {
    fill: rgb(36, 136, 255);
    transition: all 0.6s;
}

/* LOGO TOP LEFT THIRD */
#nftLogo {
    margin-left: 1.5em;
    filter: drop-shadow(0 0 2px rgb(49, 197, 255, 1));
    transition: all 0.6s;
}

#ecoContainer3:hover #nftLogo {
    filter: drop-shadow(0 0 20px rgb(49, 197, 255, 1));
}

/* LOGO TOP LEFT FOURTH */
#connectLogo {
    margin-left: 1.5em;
    filter: drop-shadow(0 0 2px rgb(49, 197, 255, 1));
    transition: all 0.6s;
}

#ecoContainer4:hover #connectLogo {
    filter: drop-shadow(0 0 20px rgb(49, 197, 255, 1));
}

/* LOGO TOP RIGHT FIRST */

#stakingLogo {
    margin-left: 1.5em;
    filter: drop-shadow(0 0 5px rgb(49, 197, 255, 1));
    transition: all 0.6s;
}
#ecoContainer5:hover #stakingLogo {
    filter: drop-shadow(0 0 20px rgb(49, 197, 255, 1));
}

/* LOGO TOP RIGHT SECOND */

#launchLogo {
    margin-left: 1.5em;
    filter: drop-shadow(0 0 5px rgb(49, 197, 255, 1));
    transition: all 0.6s;
}

#ecoContainer6:hover #launchLogo {
    filter: drop-shadow(0 0 20px rgb(49, 197, 255, 1));
}

/* LOGO TOP RIGHT THIRD */

#messengerLogo {
    margin-left: 1.5em;
    filter: drop-shadow(0 0 5px rgb(49, 197, 255, 1));
    transition: all 0.6s;
}
#ecoContainer7:hover #messengerLogo {
    filter: drop-shadow(0 0 10px rgb(49, 197, 255, 1));
}

/* LOGO TOP RIGHT FOURTH */

#socialLogo {
    margin-left: 1.5em;
    filter: drop-shadow(0 0 5px rgb(0, 247, 255));
    transition: all 0.6s;
}
#ecoContainer8:hover #socialLogo {
    filter:
            drop-shadow(0 0 20px rgb(0, 247, 255));
}



.left { transition: box-shadow 0.2s;}
.left:hover {
    box-shadow: 0 0 10px 0 var(--light-blue-color);
}
.right { transition: box-shadow 0.2s; }
.right:hover {
    box-shadow: 0 0 10px 0 var(--light-blue-color);
}


/* LEFT */

#ecoContainer1 {
    position: relative;
    width: auto;
    height: 25%;
    padding: 1.5em 0;
    display: flex;
    left: 0%;
}
#ecoContainer2 {

    width: auto;
    height: 25%;
    padding: 10px;
    display: flex;
    margin: 4em 0px;
    left: 0%;
}
#ecoContainer3 {

    width: auto;
    height: 25%;
    padding: 10px;
    display: flex;
    margin: 4em 0px;
    left: 0%;
}
#ecoContainer4 {

    width: auto;
    height: 25%;
    padding: 1.5em;
    display: flex;
    margin: 4em 0px;
    left: 0%;
}

/* RIGHT */

#ecoContainer5 {
    width: auto;
    height: 25%;
    padding: 1.5em 0;
    display: flex;
    right: 0%;
}
#ecoContainer6 {
    padding: 10px;
    width: auto;
    height: 25%;
    display: flex;
    margin: 4em 0px;
    right: 0%;
}
#ecoContainer7 {
    padding: 10px;
    width: auto;
    height: 25%;
    display: flex;
    margin: 4em 0px;
    right: 0%;
}
#ecoContainer8 {
    padding: 10px;
    width: auto;
    height: 25%;
    display: flex;
    margin: 4em 0px;
    right: 0%;
}

.textHolder {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--dark-blue-nonTransparent-color);
    z-index: 3;
    border-radius: 10px;
    clip-path: circle(0%);
    box-shadow: 0 0 100px var(--light-blue-color);
}

.text {
    color: white;
    text-align: center;
    text-justify: center;

    font-family: 'Alegreya Sans SC', sans-serif;
    font-family: 'Economica', sans-serif;
    font-family: 'Inconsolata', monospace;
    font-family: 'Lato', sans-serif;
    font-family: 'Montagu Slab', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Teko', sans-serif;
    user-select: none;
}

#littleText {
    font-size: 1.35em;
}




/* TOKEN DETAILS */

.services {
    position: relative;
    height: 100vh;
    scroll-snap-align: center;
}

.tokenDetails2 {
    position: relative;
    height: 100vh;
    scroll-snap-align: center;
}

#overview {
    position: absolute;
    top: 1.75em;
    left: 4.75em;
    font-size: 4em;
    user-select: none;

    font-family: 'Arimo', sans-serif;

}


#icetoken {
    position: absolute;
    top: 5em;
    left: 7em;
    font-size: 2.75em;
    user-select: none;
    color: rgb(0, 0, 255);
    font-family: 'Arimo', sans-serif;

}

#tokenText {
    position: absolute;
    top: 15em;
    left: 14.2em;
    font-size: 1.35em;
    user-select: none;

    font-family: 'Arimo', sans-serif;

}

.tokenContainer {
    position: absolute;
    width: 15em;
    height: 7em;
    background-color: #001D3B;
    top: 30em;
    border-radius: 10em;
    text-align: center;
    border: 2px solid #2463BE;
}

.tokenContainer:hover {
    box-shadow: 0 0 30px 0 #2463BE;
}

#t1 {
    left: 19.2em;
}

#t2 {
    left: 41.2em;
}

#t3 {
    left: 63em;
}

#t4 {
    left: 85em;
}

.blueText {
    position: relative;
    color: rgb(0, 0, 255);
    font-family: 'Teko', sans-serif;
    font-size: 2em;
    bottom: 0.5em;
    user-select: none;
}

.normalText {
    position: relative;
    font-family: 'Teko', sans-serif;
    font-size: 1.75em;
    bottom: 1.75em;
    user-select: none;
}

#tooBig {
    font-size: 1.6em;
    bottom: 2em;
    line-height: 1em;
}

#utilityContainer {
    position: absolute;
    width: 82em;
    height: 5em;
    background-color: #001D3B;
    left: 19em;
    top: 47.5em;
    border-radius: 2.5em;
    display: flex;
    justify-content: space-between;
}

#utility {
    position: relative;
    top: 16em;
    font-size: 2.5em;
    color: rgb(0, 247, 255);
    font-family: 'Arimo', sans-serif;
    user-select: none;
}

.utilityContent {
    position: relative;
    width: fit-content;
    height: fit-content;
    display: flex;
}

.img {
    position: relative;
    top: 1.1em;
}

.uT {
    position: relative;
    top: 0.3em;
    margin-left: 1em;
    user-select: none;
    font-size: 1.25em;
}

#img1 {
    left: 2.25em;
}

#uT1 {
    left: 1.75em;
}

#img4 {
    right: 2.25em;
}

#uT4 {
    right: 2.25em;
}

/* TOKEN DETAILS 2 */

#icoButton {
    background: linear-gradient(#3772FF, #1C3980);
    position: relative;
    width: 8.5em;
    height: 3.5em;
    top: 32.5em;
    border-radius: 4.5em;
    cursor: pointer;
    border: none;
    color: white;
    font-size: 1.5em;
    font-family: 'Arimo', sans-serif;
    z-index: 2;
}

#icoButton:hover {
    filter: drop-shadow(0 0 10px rgb(104, 61, 173) );
}

#tokenContent {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(28, 57, 128, 0.95);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

#tokenHolder {
    width: 70%;
    height: 85%;
    position: relative;
    background: linear-gradient(180deg, rgba(95, 145, 255, 1), rgba(0, 0, 255, 0));
    top: 2em;
    border-radius: 1em;
    filter: drop-shadow(0 0 5px rgba(0, 255, 255, 0.25));
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    justify-content: space-evenly;
    align-content: space-evenly;
}

.tokens {
    position: relative;
    width: 20em;
    height: 12.5em;
    background-color: rgba(28, 57, 128, 0.95);
    border-radius: 2.25em;
    border: 10px solid rgba(95, 145, 255, 1);
    top: 20em;

}

#tokenT1 {
    position: absolute;
    top: 4.75em;
    background-color: rgb(95, 164, 255);
    width: 47.5em;
    height: 1.25em;
    z-index: 2;
    text-align: center;
    border-radius: 1.25em;
    filter: drop-shadow(0 0 10px rgba(0, 81, 255, 0.5));
    font-family: 'Arimo', sans-serif;
    user-select: none;
}

#tokenT2 {
    position: absolute;
    background-color: rgba(95, 145, 255, 1);
    bottom: 18.25em;
    width: 15em;
    height: 1.25em;
    z-index: 2;
    text-align: center;
    border-radius: 1.25em;
    filter: drop-shadow(0 0 10px rgba(0, 81, 255, 0.5));
    font-family: 'Arimo', sans-serif;
    user-select: none;
}

.tokens:hover {
    filter: drop-shadow(0 0 10px rgba(0, 255, 255, 0.25));
}

.whiteToken {
    margin: 0;
    margin-left: 1em;
    font-family: 'Arimo', sans-serif;
    user-select: none;
}

.blueToken {
    margin-left: 0.75em;
    color: var(--light-blue-color);
    text-shadow: 0 0 30px rgba(0, 255, 255, 0.5);
    font-family: 'Arimo', sans-serif;
    user-select: none;
}





/* NODE  SECTION*/

.node {
    height: 100vh;
    background-color: transparent;
}

#nodeImg {
    position: relative;
    top: -7.5em;
    filter: drop-shadow(0 0 1em rgb(28, 102, 212));
}

/* ROADMAP */

.sticky {
    display: flex;
    width: 1.25em;
    height: 1.25em;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid rgba(49, 131, 255, 1);
    filter: drop-shadow(0 0 10px rgba(49, 131, 255, 1)); 
    /* rgba(49, 131, 255, 1) */
    position: sticky;
    top: 10em;
    right: 107.5em;
    cursor: pointer;
    z-index: 3;
    box-shadow: 0 0 0px 0 rgba(49, 131, 255, 1) inset;
    transition: all 0.2s;
}

.sticky:hover {
    box-shadow: 0 0 100px 0 rgba(49, 131, 255, 1) inset;
}


#s2 {
    top: 15em;
}

#s3 {
    top: 20em;
}


#s4 {
    top: 25em;
}


#s5 {
    top: 30em;
}


#s6 {
    top: 35em;
}


#s7 {
    top: 40em;
}


#s8 {
    top: 45em;
}


#s9 {
    top: 50em;
}

.sText {
    width: 2.5em;
    height: 2.5em;
    position: sticky;
    top: 3.925em;
    user-select: none;
    font-family: 'Teko', sans-serif;
    font-size: 2.35em;
}

#s1t {
    right: 47em;
}

#s2t {
    right: 47em;
    top: 6.1em;
}

#s3t {
    right: 47em;
    top: 8.2em;
}

#s4t {
    right: 47em;
    top: 10.3em;
}

#s5t {
    right: 47em;
    top: 12.4em;
}

#s6t {
    right: 47em;
    top: 14.5em;
}

#s7t {
    right: 47em;
    top: 16.7em;
}

#s8t {
    right: 42.5em;
    top: 18.815em;
}

#s9t {
    right: 42.5em;
    top: 20.95em;
}

#roadLayer {
    display: flex;
    width: 18.75em;
    height: 44.5em;
    background-color: rgb(0, 0, 255, 0.1);
    border-top-right-radius: 1.5em;
    border-bottom-right-radius: 1.5em;
    /* rgba(49, 131, 255, 1) */
    position: sticky;
    top: 8.75em;
    right: 125em;
}

/* NFT Marketplace */

.marketSection {
   background: transparent;
   /*transparent linear-gradient(180deg, #000524 0%, #000524 100%) 0% 0% no-repeat padding-box; */
}



#marketContainer {
    position: absolute;
    width: 84em;
    height: 90vh;
    background: rgb(0, 10, 49, 0.25);
    filter: drop-shadow(0 0 2px rgb(12, 79, 156, 0.5));
    border-radius: 0.75em;
    overflow: hidden;
    bottom: 0;
}

#marketH1 {
    font-size: 4.25em;
    font-family: 'Roboto', sans-serif;
    position: relative;
    top: 0.5em;
    left: 0.3575em;
    user-select: none;
}

#marketH2 {
    font-size: 1.75em;
    font-family: 'Arimo', sans-serif;
    position: relative;
    top: -6em;
    left: 1em;
    color: rgb(31, 110, 214);
    user-select: none;
}

#marketH3 {
    font-size: 1.75em;
    font-family: 'Arimo', sans-serif;
    position: relative;
    top: -3em;
    left: 1.25em;
}

#marketB1 {
    padding: 1.25em 1.75em;
    border-radius: 2.5em;
    background-color: rgb(1, 1, 182);
    border: none;
    position: relative;
    top: -5em;
    left: 1.525em;
    font-size: 1.02em;
    font-family: 'Arimo', sans-serif;
    cursor: pointer;
}

#marketB1A1 {
    color: white;
    text-decoration: none;
}

#marketB2 {
    padding: 1.25em 1.75em;
    border-radius: 2.5em;
    background-color: rgb(30, 30, 31);
    border: none;
    position: relative;
    top: -5em;
    left: 3.55em;
    font-size: 1em;
    font-family: 'Arimo', sans-serif;
    cursor: pointer;
}

#marketB1A2 {
    color: white;
    text-decoration: none;
}

#marketDivContainer {
        position: relative;
        width: 100em;
        height: 37.5em;
        bottom: 2.5em;
        display: flex;
}

.marketDivs {
    position: relative;
    height: 27.5em;
    width: 20em;
    display: flex;
    border-radius: 1.75em;
    left: 1.75em;
    margin-right: 3em;
    justify-content: center;
}

.purchaseNow {
    width: fit-content;
    height: fit-content;
    padding: 0.5em 1em;
    border-radius: 2em;
    font-size: 1.175em;
    position: relative;
    top: 19.25em;
    cursor: pointer;
    background-color: black;
    color: white;
    border: none;
}


#mD1 {

    background-image: url('./src/img/nft1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all 0.2s;
    filter: drop-shadow(0 0 0px rgb(98, 70, 197));
}

#mD1:hover {
    filter: drop-shadow(0 0 7.5px rgb(98, 70, 197));
}


#nft1SubImg {
    position: absolute;
    right: 44em;
    bottom: 9.25em;
}

#mD2 {
    background-image: url('./src/img/nft2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all 0.2s;
    filter: drop-shadow(0 0 0px rgb(55, 148, 224));
}

#mD2:hover {
    filter: drop-shadow(0 0 7.5px rgb(55, 148, 224));
}

#nft2SubImg {
    position: absolute;
    bottom: 9.75em;
}


#mD4 {
    height: 42.5em;
    width: 21.5em;
    bottom: 12em;
    border: 5px solid white;
    border-radius: 2.5em;
    overflow: hidden;
}

#mD4Sub {
    display: flex;
    position: relative;
    height: 27.5em;
    width: 20em;
    border-radius: 1.75em;
    top: 12em;
    justify-content: center;
    background-image: url('./src/img/nft3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all 0.2s;
    box-shadow: 0 0 0px 0 white;
}

#mD4Sub:hover {
    box-shadow: 0 0 15px 0 white;
}

#nft3SubImg {
    position: absolute;
    bottom: -0.5em;
}

#nft4SubImg {
    position: absolute;
    left: 0em;
    bottom: 10.5em;
}


#mD5 {
    background-image: url('./src/img/nft4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all 0.2s;
    filter: drop-shadow(0 0 0px rgb(55, 148, 224));
}

#mD5:hover {
    filter: drop-shadow(0 0 7px rgb(19, 131, 165));
}

#nft5SubImg {
    position: absolute;
    bottom: -0.75em;
}

/* DROP */

.drop {
    height: 60vh;
    background: linear-gradient(#000524, #000000)
}

#dropH1 {
    position: absolute;
    font-size: 3em;
    top: 0.75em;
    font-family: 'Arimo', sans-serif;
}

#dropImg {
    filter: drop-shadow(0 0 3px rgb(98, 70, 197));
}

/* CREATE SECTION */

.create {
    display: flex;
    align-items: center;
}
#createImg {
    position: absolute;
    left: 7.5em;
    filter: drop-shadow(0 0 1px rgb(70, 150, 197));
}

#createImg2 {
    position: absolute;
    
    right: 7.5em;
    filter: drop-shadow(0 0 1px rgb(70, 150, 197));
}

/* TEAM SECTION */

.contact {
    background-color: transparent;
    display: flex;
}

#teamImg {
    position: absolute;
    top: 6em;
    right: 17.5em;
    filter: drop-shadow(0 0 75px rgb(70, 114, 197));
}

#teamH1 {
    position: absolute;
    top: 8em;
    left: 0.75em;
    font-size: 3.75em;
    font-family: 'Arimo', sans-serif;
    transform: rotateZ(-90deg);
}




/* PORTFOLIO SECTION */

.portfolio {
    background: transparent linear-gradient(180deg, #000524 0%, #000000 100%) 0% 0% no-repeat padding-box;
    display: flex;
}

#portfolioImg {
    position: absolute;
    top: 10em;
}

#portfolioH1 {
    position: absolute;
    font-size: 4em;
    top: 1.25em;
    font-family: 'Arimo', sans-serif;
    user-select: none;
}

#portfolioH1Sub {
    position: absolute;
    font-size: 4em;
    top: 2.25em;
    font-family: 'Arimo', sans-serif;
    user-select: none;
}

#portfolioH2 {
    position: absolute;
    font-size: 1.25em;
    top: 4em;
    font-family: 'Arimo', sans-serif;
    color: rgb(0, 102, 255);
    user-select: none;
}

/* FOOTER SECTION */

.footer {
    height: 73vh;
    background: linear-gradient(rgb(10, 10, 10), rgb(0, 0, 0));
}

#footerImg {
   position: absolute;
}



/* VIDEO BREAKPOINT */

@media screen
and (max-device-width: 1263px) {
    #video {
        min-width: 100%; 
        min-height: 100%;
        
    }

    .container {
        scroll-snap-type: none;
    }

    section {
        scroll-snap-align: none;
        min-height: -webkit-fill-avaliable;
    }
    
}

/* MEDIA QUERYS FOR LAPTOP */

@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1){

    html, body {
        overflow: hidden;
    }

    .container {
        scroll-snap-type: y proximity;
    }

    section {
        scroll-snap-align: center;
        scroll-snap-stop: always;
        min-height: -webkit-fill-avaliable;
    }

    .projects {
        scroll-snap-align: none;
    }

    #ecoContainer1 {
        width: 17em;
        margin-top: 0.75em;
    }

    #ecoContainer2 {
        width: 15.75em;
        margin-top: 1em;
    }

    #ecoContainer3 {
        width: 15.75em;
        margin-top: -3em;
    }

    #ecoContainer4 {
        width: 14.25em;
        margin-top: -3em;
    }

    #ecoContainer5 {
        width: 17em;
        margin-top: 0.25em;
        margin-left: -2em;
    }

    #ecoContainer6 {
        width: 16em;
        margin-top: 1em;
        margin-left: -2em;
    }

    #ecoContainer7 {
        width: 16em;
        margin-top: -3em;
        margin-left: -2em;
    }

    #ecoContainer8 {
        width: 16em;
        margin-top: -3em;
        margin-left: -2em;
    }

    #overview {
        left: 3.75em;
        top: 1.2em;

    }

    #icetoken {
        left: 5.5em;
        top: 4em;
    }

    #tokenText {
        left: 11.2em;
        top: 12.5em;
    }

   #t1 {
       left: 15em;
       top: 23em;
   }

   #t2 {
        left: 32.5em;
        top: 23em;
    }

    #t3 {
        left: 50em;
        top: 23em;
    }

    #t4 {
        left: 67.5em;
        top: 23em;
    }

    #utilityContainer {
        top: 37.5em;
        left: 11.5em;
    }

    #utility {
       top: 12.2em;
    }

    .logo {
        margin-left: 8.5em;
    }

    .linkContainer {
        margin-right: 15.85em;
    }

    #icoButton {
        top: 27.25em;
    }

    #tokenContent {
        height: 102.5vh;
    }

   #tokenT1 {
       top: 3.5em;
       width: 42.5em;
   }

   #tokenT2 {
       top: 14.85em;
   }

   #nodeImg {
       top: -10em;
   }

   #roadLayer {
        width: 13em;
        height: 40em;
        top: 5.75em;
   }

   .sticky {
    top: 7.5em;
    right: 87.5em;
   }

   .sText{
       top: 2.9em;
   }

   #s1t {
       right: 37.8em;
   }

   #s2 {
       top: 12em;
   }

   #s2t {
        top: 4.8em;
        right: 37.8em;
   }

   #s3 {
        top: 16.25em;
    }

    #s3t {
        top: 6.6em;
        right: 37.8em;
    }

    #s4 {
        top: 20.5em;
    }

    #s4t {
        top: 8.45em;
        right: 37.8em;
    }

    #s5 {
        top: 24.75em;
    }

    #s5t {
        top: 10.25em;
        right: 37.8em;
    }

    #s6 {
        top: 29em;
    }

    #s6t {
        top: 12em;
        right: 37.8em;
    }

    #s7 {
        top: 33.25em;
    }

    #s7t {
        top: 13.8em;
        right: 37.8em;
    }

    #s8 {
        top: 37.5em;
    }

    #s8t {
        top: 15.6em;
        right: 34.2em;

    }

    #s9 {
        top: 41.75em;
    }

    #s9t {
        top: 17.4em;
        right: 34.2em;
    }


}


